.formulario{
    width: 100%;
    margin-top: 20px;
    margin-right: 50px;
    padding: 20px 40px ;
    border-radius: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px rgb(101, 100, 100);
    > div.chrome-picker.colorInput > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
        margin-right: 10px !important;
    }
    > div.chrome-picker.colorInput > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div{
        height:30px !important;
        width: 30px !important;
        border-radius: 50px !important;
        margin-top: -3px !important;
    }
    label{
        font-size: 1.1em;
        margin: 5px 0;
    }
    p{
        margin-top: 10px;
    }
    .inp_sel, .colorInput{
        width: 100%;
        border-radius: 100px;
        margin: 5px 0;
        padding: 7px 30px;
        border: 0px;
        font-size: 1.2em;
        box-shadow: 0px 0px 3px 0px rgb(101, 100, 100);
        &:focus{
            box-shadow: 0px 0px 5px 0px rgb(42, 42, 42);
        }
    }
    
    >div.horasCtn{
        display: flex;
        //flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        select{
            margin: 0px 15px;
            text-align: center;
            padding: 7px 0;
            min-width: 100px;
            //max-width: 100px;
        }
    }
    .colorInput{
        display: flex;
        box-shadow: 0px 0px 3px 0px rgb(101, 100, 100) !important;
        border-radius: 30px !important;
        padding: 10px 40px !important;
        
    }
    .botonesCtn{
        flex-direction: column;
        button{
            margin-top: 10px;
            color: white;
            font-size: 1em;
            background-color: #0C356A;
            &:hover{
                box-shadow: 0px 0px 8px 0px rgb(42, 42, 42);
            }
        }
        >div{
            display: flex;
            width: 100%;
            button{
                &:first-child{
                    width: 40%;
                    margin-right: 10px;
                    background-color:#DF2E38;
                }
                &:nth-child(2){
                    width: 60%;
                    background-color: #03cc6e;
                }
            }
        }
        
    }
}