.formulario{
    width: 100%;
    padding: 50px 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    label{
        font-size: 1.1em;
        margin: 15px 0;
    }
    input, button, select{
        width: 100%;
        border-radius: 100px;
        margin: 5px 0;
        padding: 15px;
        border: 0px;
        box-shadow: 0px 0px 3px 0px rgb(101, 100, 100);
        &:focus{
            box-shadow: 0px 0px 5px 0px rgb(42, 42, 42);
        }
    }
    button{
        margin-top: 20px;
        background-color: rgb(6, 186, 6);
        color: white;
        &.limpiar{
            background-color:rgb(253, 46, 46);
        }
        &:hover{
            box-shadow: 0px 0px 8px 0px rgb(42, 42, 42);
        }
    }
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        select{
            margin: 0px 15px;
            text-align: center;
        }
    }
}